<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{{neuqstUrl.res('css/errorPage.css')}}">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="wrapper">
            <div class="left">
                <img src="{{neuqstUrl.pic('error.png')}}">
            </div>
            <div class="right">
                <div class="title">
                    <p>诶呀！！{{pageTitle}}</p>
                </div>
                <div class="content">这里是报错信息:<br/>{{pageMsg}}
                </div>
            </div>
        </div>
        <a href="{{originUrl}}">回首页</a>
    </div>
    {% include 'footer.html'%}
</div>
</body>
</html>