<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
test23213123
<script>
    fetch('http://www.dev.com/api/v1/auth/resetPass?access_token=eyJhbGci1iJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI4NDE1OTk4NzJAcXEuY29tbmV1cXN0LWNsYXNzcm9vbTAwMDAyMjIzMzM3OTgiLCJpYXQiOjE0OTUxNjAzMzYsImV4cCI6MTQ5NTE2NzUzNn0.6paqVr9LHJbc9vdMk7bEiQ8UYpPfBSAyrQhefbDcW4g&name=Qoder&email=841599872@qq.com')
        .then((res) => {
            console.log(res)
        })
</script>
</body>
</html>