<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
        .wrapper {
            background: #ccc;
            float: left;
            position: relative;
            left: 50%;
        }

        .wrapper ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            left: 50%;
        }

        .wrapper li {
            float: left;
            display: inline;
            margin-right:8px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <ul>
        <li><a href="#">hahha</a></li>
    </ul>
</div>
</body>
</html>