.topBarWrapper {
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background:#2d312f;
  .login-bar {
    float: right;
    height: 30px;
    line-height: 30px;
    padding-right: 40px;
    padding-left: 40px;
    background: url("../../../images/icon/user.png") no-repeat left center;
    background-size: 25px;
    a {
      color: #FFF;
      padding-right: 15px;
      font-size: 12px;
      text-decoration: none;
    }
    a:hover{
      color: #00a0e9;
    }
  }
}
